doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scañe='1.0')
        title="Pug products"
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    body
        h1(class='text-center')=title
        div(class='w-100 d-flex justify-content-center')
            a(href='/', class='btn btn-info mx-auto mb-3')='Ir a inicio'  
        //div
            each obj in [1, 2, 3, 4]
                h3=obj  
        div 
            table(class='border border-2 border-dark mx-auto') 
                caption=`Lista de productos de MagicKeyboards de ${fecha}`
                thead
                    tr(class='border border-secondary border-top-0 border-start-0 border-end-0 border-bottom-2')
                        th(class='bg-success p-1 text-center')='Producto'
                        th(class='bg-success border border-secondary border-top-0 border-bottom-0 border-2 p-1 text-center')='Precio'
                        th(class='bg-success p-1 text-center')='Imagen'
                tbody 
                     each obj in products   
                        tr 
                            td(class='bg-info border border-secondary border-end-2 border-start-0 border-bottom-0 border-top-0 p-2')=obj.title
                            td(class='bg-info border border-secondary border-end-2 border-start-0 border-bottom-0 border-top-0 p-2')=obj.price    
                            td(class='bg-info  p-2')
                                img(src=obj.thumbnail, alt=`${obj.title} foto`, style='width:350px;' )
        div 
                                                         
